#search-bar {
    border-bottom: 1px solid red;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchQueryInput {
    width: 100%;
    height: 1.7rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 13px;
}

#searchQuerySubmit {
    width: 3.5rem;
    height: 1.7rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

#searchQuerySubmit:hover {
    cursor: pointer;
}

.text-tmk-red:hover {
    filter: invert(19%) sepia(100%) saturate(6377%) hue-rotate(355deg) brightness(98%) contrast(117%);
}

.btn-red {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    box-shadow: none;
    height: 30px;
    width: 32px;
    line-height: 1.4rem;
}

.btn-red:hover {
    color: #fff;
    background-color: red;
    border-color: red;
    box-shadow: none;
}

.btn-red-text {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    box-shadow: none;
    line-height: 1.4rem;
}

.btn-red-text:hover {
    color: #fff;
    background-color: red;
    border-color: red;
    box-shadow: none;
}

.btn-secondary-text {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: none;
    line-height: 1.4rem;
}

.btn-secondary-text:hover {
    color: #fff;
    background-color: red;
    border-color: red;
    box-shadow: none;
}

.btn-act {
    height: 40px;
}

#button-action {
    padding: 1rem 1rem 0.5rem 1rem;
}

#button-action .row .col span {
    font-size: 10px;
    margin-top: auto !important;
    margin-bottom: auto !important;
    line-height: 12px;
}

#button-action .row .col p {
    font-size: 9px;
    margin-bottom: 0px;
}

#table-header tr td {
    border: none;
    font-size: 11px;
}

#button-action i {
    font-size: 14px;
}

.employee-table thead tr th,
.employee-table tbody tr td {
    padding: 0.5rem 0rem;
}

#detail-karyawan {
    font-size: 12px;
}

#detail-karyawan td {
    font-size: 11px;
}

#detail-karyawan .em-title {
    width: 12rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

#detail-karyawan hr {
    background-color: red;
    opacity: 100;
    margin: 1rem 0 1rem 0rem;
    width: 100%;
}

#nav-panel button {
    background-color: white;
}

#nav-panel .nav-tabs .nav-item.show .nav-link,
#nav-panel .nav-tabs .nav-link.active {
    color: #000;
    background-color: #fff;
    border-color: red red #fff;
    z-index: 999;
}

#nav-panel .nav-tabs .nav-link {
    margin-bottom: -1px;
    border-color: white white red;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0a58ca;
}

.action-active {
    background-color: red;
    color: #fff;
    border-color: red;
}

hr {
    width: 100% !important;
}

.no-padding td {
    /* padding-left: 10px !important; */
    padding-right: 0 !important;
}

/* ---------------------------------- Modal --------------------------------- */
.modal-header-tmk {
    padding: 1rem 1rem 0.55rem 1rem;
    border-bottom: 1px solid #e9ecef;
}

.modal-header-tmk h5 {
    font-size: 14px !important;
    font-weight: bold;
}

.modal-close {

    top: 10px;
    right: 10px;
    position: absolute;

}

.btn-modal-close {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    box-shadow: none;
    height: 24px;
    width: 24px;
    line-height: 1.4rem;
    padding: 0px;
}

.btn-modal-close:hover {
    color: #fff;
    background-color: red;
    border-color: red;
    box-shadow: none;
}

.modal-note {
    font-size: 11px;
    text-align: justify;
}

.modal-form h6 {
    font-size: 11px !important;
}

.modal-form small {
    font-size: 9px !important;
}

.g-recaptcha {
    transform: scale(0.878);
    transform-origin: 0 0;
}

.modal-tmk .form-control {
    font-size: 11px !important;
}

/* -------------------------------------------------------------------------- */