/* reset style */

.carousel-control-next,
.carousel-control-prev {
    width: unset;
}

.carousel-navigation .carousel-control-next-icon,
.carousel-navigation .carousel-control-prev-icon {
    width: 1rem;
    height: 1rem;
}

.carousel-indicators {
    margin-bottom: -4px;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-indicators [data-bs-target] {
    background-color: grey;
}

/* main style */

.image-top {
    border: 5px solid #eeeeee;
}

.news-container {
    background-color: #f7f7f7;
}

.img-atas-berita,
.img-bawah-berita {
    height: 314px;
    border-radius: 0.25rem;
}

.img-atas-berita-1 {
    height: 200px;
}

.img-bawah-berita {
    height: 247px;
}

.bg-atas-berita {
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0.25rem;
}

.text-atas-berita,
.text-bawah-berita {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 0 0 0 30px;
}

.text-atas-berita .sub-item,
.text-bawah-berita .sub-item,
.text-side-trending .sub-item,
.video-text .sub-item {
    margin-right: 30px;
    padding-bottom: 15px;
    color: white;
    font-size: 13px;
}

.text-side-trending .sub-item {
    color: black;
    font-size: 12px;
}

.video-text .sub-item {
    color: black;
    font-size: 11px;
    margin-right: 20px;
}

.side-trending-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.side-news-item {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid lightgrey;
}

.img-video {
    /* border-radius: 10px; */
    height: 89px;
}

.carousel-navigation .nav-item-active {
    border-bottom: 4px solid #ff4c01;
}

.text-grey {
    color: grey;
}

.text-lightgrey {
    color: rgb(179, 179, 179);
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


.category .nav-item:hover {
    background-color: #eeeeee;
}

.for-hover {
    background-color: #fff;
}

.for-hover:hover {
    /* background-color: #fff; */
    /* border: 1px solid #0000003b; */
    box-shadow: 1px 1px 0px 0px #00000038;
}

@media (min-width: 576px) {

    .col-sm-absolute {
        position: relative;
    }

}